.signin-ct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.signin-title {
    text-align: center;
}

h1 {
    font-weight: 300;
}

.form-ct {
    width: 360px;
    input,label {
        display: block;
    }
    input {
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.219);
        color: #fff;
        outline: 0;
        border: none;
        padding: 5px 10px;
    }
    label {
        color: rgba(255, 255, 255, 0.445);
        margin-top: 20px;
    }
    .forgot-link {
        margin-top: 20px;
        color: #F03B7A;
        text-decoration: none;
    }
}

.my-btn {
    margin-top: 25px;
    width: 100%;
    height: 45px;
    background-color: #F03B7A;
    border: none;
    color: #fff;
}

.my-btn-1 {
    border-radius: 10px;
    height: 30px;
    background-color: #F03B7A;
    border: none;
    color: #fff;
}

.opt-ct {
    position: fixed;
    bottom: 0;
    background-color: #8084944b;
    color: #fff;
    width: 100vw;
    padding: 10px;
}

.opt-wrapper {
    span {
        margin-right: 20px;
    }
}