.account-ct {
    background-color: #fff;
    padding: 20px;
}

.account-label, .account-input {
    display: block;
}

.account-label {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.account-input {
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 10px;
    width: 100%;
}

.photo-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-account-wrapper {
    text-align: center;
    button {
        margin-top: 20px;
        display: block;
    }
}

.account-photo {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 25%;
}