<div class="main-ct">
    <app-nav></app-nav>
    <div class="row g-0 contents-ct">
        <div class="col-lg-2 col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="panel-ct">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>