.card-shop {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.item-title {
  font-size: 20px;
  text-align: center;
}

.item-icon {
  text-align: center;
  i {
    font-size: 80px;
  }
}

.item-desc {
  .item-desc-title {
    font-size: 20px;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }
}

.shop-button {
  text-align: center;
  button {
    background-color: #05ff00;
    padding: 5px 25px;
    border: none;
  }
}

@media (max-width: 768px) {
  .card-shop {
    margin: 0;
    margin-bottom: 20px;
  }
}
