<nav class="mybreadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Shop</li>
  </ol>
</nav>

<div class="row">
  <div *ngFor="let item of items" class="col-lg card-shop">
    <div class="item-title">{{item["item-title"]}}</div>
    <div class="item-icon">
      <i [ngClass]="item['item-icon']"></i>
    </div>
    <div class="item-desc">
      <div class="item-desc-title">Features</div>
      <ul>
        <li *ngFor="let desc of item['item-desc']">{{desc}}</li>
      </ul>
    </div>
    <div class="shop-button">
      <button>${{item['item-price']}}</button>
    </div>
  </div>
</div>
