<nav class="mybreadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Product</li>
  </ol>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Registered</th>
      <th scope="col">Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apple</td>
      <td>25, April 2021</td>
      <td>25, May 2021</td>
    </tr>
  </tbody>
</table>