.nav-ct {
    background-color: #0226A4;
    height: 50px;
}

.nav-con {
    padding: 0 30px;
}

.web-icon {
    color: #ff0000;
}

.menu-toggler {
    color: #fff;
    cursor: pointer;
    &.active {
        color: #ff0000;
    }
}

i {
    font-size: 30px;
}