<div class="signup-ct">
  <div class="form-ct">
    <div class="signup-title">
      <h1>Sign Up</h1>
    </div>
    <label for="username" class="signup-label">Username</label>
    <input
      class="signup-input"
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      autocomplete="off"
      required
    />
    <label for="email" class="signup-label">Email</label>
    <input
      class="signup-input"
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      autocomplete="off"
      required
    />
    <label for="password" class="signup-label">Password</label>
    <input
      class="signup-input"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      autocomplete="off"
      required
    />
    <button class="my-btn">Sign Up</button>
  </div>
</div>
<div class="opt-ct">
  <div class="opt-wrapper d-flex align-items-center justify-content-center">
    <span>Already have an account?</span>
    <button routerLink="/login" class="my-btn-1">sign in</button>
  </div>
</div>
