.sidebar-ct {
    display: none;
    height: calc(100vh - 50px);
    background-color: #fff;
    &.active {
        display: block;
    }
}

.side-link-ct {
    padding-top: 50px;
}

ul {
    list-style: none;
    line-height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: dodgerblue;
}

@media (min-width: 768px) {
    .sidebar-ct {
        display: block;
    }
}