<div class="sidebar-ct">
  <div class="side-link-ct">
    <ul>
      <li>
        <a class="side-link" [routerLink]="['/overview']" routerLinkActive="active">Overview</a>
      </li>
      <li>
        <a class="side-link" [routerLink]="['/shop']" routerLinkActive="active"
          >Shop</a
        >
      </li>
      <li>
        <a class="side-link" [routerLink]="['/product']" routerLinkActive="active"
          >Product</a
        >
      </li>
      <li>
        <a class="side-link" [routerLink]="['/project']" routerLinkActive="active"
          >Project</a
        >
      </li>
      <li>
        <a class="side-link" [routerLink]="['/account']" routerLinkActive="active"
          >Account</a
        >
      </li>
      <li>
        <a class="side-link" [routerLink]="['/docs']" routerLinkActive="active"
          >Docs</a
        >
      </li>
      <li>
        <a class="side-link" [routerLink]="['/logout']" routerLinkActive="active"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
