/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://unicons.iconscout.com/release/v3.0.6/css/line.css");

body {
    background-color: #D2D2D2;
    max-height: 100vh;
}

.panel-ct {
    padding: 20px;
}

.mybreadcrumb {
    --bs-breadcrumb-divider: ">>";
}